ul {
    overflow: hidden;
    background-color: #333;
    list-style: none;
  }
  
 .header{
   margin-bottom: -1rem;
   position: relative;
   box-shadow:  2px 2px;
 }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    color: yellow;
    text-shadow:#111;
  }